<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>인증번호 안내</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Malgun+Gothic%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="static/css/mail2.css"/>
</head>
<body>
<div class="item--BxJ">
  <div class="auto-group-cegn-WdC">
    <div class="title-EBp">
      <div class="item-Kj4">
        <div class="imglogosmall-FMp">
          <img class="symbol-bAn" src="./static/image/symbol.png"/>
          <img class="build-gxv" src="./static/image/build.png"/>
          <img class="up-RQi" src="./static/image/up.png"/>
        </div>
        <p class="item--jwC">인증번호 안내</p>
      </div>
    </div>
    <div class="body-Yte">
      <div class="text-group-ewg">
        <p class="item--brv">인증번호를 입력해주세요.</p>
        <p class="buildup--tr2">
          안녕하세요, Buildup입니다.
          <br/>
          아래의 인증번호를 회원가입 창에 입력하여 인증을 완료해주세요.
        </p>
      </div>
      <div class="item--Xe6">
        <p class="item--48E">인증번호</p>
        <p class="item-123456-xzJ">${code}</p>
      </div>
      <p class="item--fNv">이 메일은 발신전용이므로 회신이 되지 않습니다.</p>
    </div>
  </div>
  <div class="divider-XAE">
  </div>
  <p class="songdbox-ryC">ⓒSONGDBOX❄️</p>
</div>
</body>